<div class="container">
  <div class="form-group">
    <label for="query">Search for a Movie</label>
    <input
      id="query"
      type="text"
      class="form-control"
      (keyup.enter)="getSearchResults($event)">
  </div>
  <!-- <button type="button" (click)="getSearchResults()" class="form-control btn btn-primary">Search</button> -->
  <hr>
  <div class="row">
    <app-movie-card
      *ngFor="let movie of movies "
      [movie]="movie"
      class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    </app-movie-card>
  </div>
</div>
